<template>
  <div class="component">
    <h2>Lista med händelser</h2>
    <div v-for="item in data" class="happening">
      <div>Datum: {{ item.date }}</div>
      <div>Vem: {{ item.client }}</div>
      <div>Rum: {{ item.room }}</div>
      <div>Hur många: {{ item.attendante }}</div>
      <div>Klockan: {{ item.time }}</div>
    </div>
  </div>
</template>

<script setup>
import { useFetch } from "@vueuse/core";
const { data } = useFetch("/api").get().json();
</script>

<style scoped>
.component {
  background-color: burlywood;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}
.happening {
  background-color: chocolate;
  margin: 10px;
  box-shadow: 3px 3px black 5px;
  border-radius: 10px;
}
</style>
