<script setup>
import DBOutput from "./components/DBOutput.vue";
import theMainHeader from "./components/theMainHeader.vue";
</script>

<template>
  <theMainHeader />
  <div class="flex">
    <DBInput />
    <DBOutput />
  </div>
</template>

<style scoped>
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
